.slide{
    width: 100%;
    height: 40vh;
    margin-top: 70px;
}



.section{
   margin-top:30px;
   position: relative;
   margin-bottom: 30px;
   padding-top: 6vw;
    display: flex;
  
    justify-content: center;
}
.about{
  width: 500px;
}
div::-webkit-scrollbar {
  width: 10px;
  height: 4px;
  background-color: #F5F5F5;

}
div::-webkit-scrollbar:hover{

  height: 8px;
 cursor: pointer;
}
div::-webkit-scrollbar-thumb {
  background-color: rgb(175, 85, 37);
  border-radius: 10px;
}

div::-webkit-scrollbar-track {
  background-color: #E5E5E5;
  border-radius: 10px;
}

.name{
  width:100%;
  display:flex ;
justify-content: center;
align-items: center;
  margin-top: 25px;
  gap: 10px;
}
.flip{
    animation:rotation 3s ;
}




.pName{
    position:absolute ;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color:rgb(0, 0, 0,.5);
    
    visibility: hidden;
    width: 100%;
    bottom: -2px;
    text-align: center;
    animation: come 1s infinite;
    
    }
    .display:hover~.pName{
        visibility: visible;

    }
    .pName:hover{
        animation: none;
        visibility: visible;
    }
@keyframes rotation {
    from {
      transform:rotateX(60deg);
    }
    to {
      transform:rotateX(0deg);
    }
  }
  @keyframes come {
    from {
      transform:translateX(-20%);
    }
    to {
      transform:translateX(0%);
    }
  }
  .input{
    /* border-radius: 15px; */
    width: 85%;
    height: 5vh;
    border-top: none;
    border-left: none;
    border-right: none;
    
    /* padding-left: 10px; */
    color: black;
  
    margin-top: 29px;
  }
.input:focus{
  outline: none;
}
.contact{
  width: 100%;
padding: 20px;

  /* background-color: rgb(26, 48, 116); */
  color:rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
 /* box-shadow: 1px 1px 6px rgb(145, 141, 141); */
  /* margin: 1px; */
}
.parent{
  position: relative;
  height: 280px;
  overflow: hidden;
}
.text{
  position: absolute;
  top: 230px; 
   

  width: 100%;
  height: 45vh;
  /* transition: all 1s cubic-bezier(0.75, 0.84, 0.9, 4); */
}

.parent:hover .text{
  animation: moveFromBottom 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
/* background: rgb(201,201,201,.6); */
top: 0;
}
@keyframes moveFromBottom {
  from {
    transform:translateY(50%)
  }
  to {
    transform:translateY(0)

  }
}

@media only screen and (max-width: 1300px) {
  
  /* .text{

    bottom: -130px; 
   
    
  } */
  }
  @media only screen and (max-width: 1200px) {
  
    /* .text{
  
      bottom: -110px; 
     
      
    } */
    }
@media only screen and (max-width: 1050px) {
  
  /* .text{

    bottom: -130px; 
   
  } */
  }
  @media only screen and (max-width: 950px) {
  
    /* .text{
  
      bottom: -90px; 
     
    } */
    }
    @media only screen and (max-width: 890px) {
  
      /* .text{
    
        bottom: -95px; 
       
      } */
      }
    @media only screen and (max-width: 768px) {
      .about{
        width: 250px;
      }
      /* .text{
    
        bottom: -105px; 
       
      } */
      }
    @media only screen and (max-width: 680px) {
  
      /* .text{
    
        bottom: -120px; 
       
      } */
      }

      @media only screen and (max-width: 600px) {
  
        /* .text{
      
          bottom: -70px; 
   
        } */
        }
        @media only screen and (max-width: 540px) {
  
          /* .text{
        
            bottom: -70px; 
           
          } */
          }

        @media only screen and (max-width: 470px) {
  
          /* .text{
        
            bottom: -105px; 
           
          } */
          }

          @media only screen and (max-width: 290px) {
  
            /* .text{
          
              bottom: -130px; 
             
            } */
            }